*.log
.DS_Store
contacts-service/.env
contacts-service/.env.backup
contacts-service/.env.production
contacts-service/.phpactor.json
contacts-service/.phpunit.result.cache
contacts-service/.fleet
contacts-service/.idea
contacts-service/.nova
/.phpunit.cache
/.vscode
/.zed
contacts-service/auth.json
frontend/node_modules
contacts-service/public/build
contacts-service/public/hot
contacts-service/public/storage
contacts-service/storage/*.key
contacts-service/storage/pail
contacts-service/vendor
contacts-service/Homestead.json
contacts-service/Homestead.yaml
contacts-service/Thumbs.db
